* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*DDBDD5*/
/*AC9FBB*/
/*59656F*/
body{
  font-family: 'Roboto';
  background: #dfdfdf;
}

.container{
  margin: 0 auto;
  max-width: 85%;
}